<div class="page-content"  style="width: {% if side_menu_type == 'Side Menu' %}80px{% else %}195px{% endif %};">

    <aside class="main-sidebar" style="z-index: 1040;">
        <section class="sidebar">   
            {% if side_menu_settings.set_width %}
            <style>
                .col.layout-main-section-wrapper,
                .col-md-4.col-sm-6.col-xs-8.page-title,
                .navbar .navbar-brand,
                .col-md-12.layout-main-section-wrapper {
                    margin-left: {{ side_menu_settings.set_width }}px !important;
                }


                .main-sidebar .sidebar-menu {
                background: #267db9 !important;
                font-family: 'Poppins', sans-serif;
                min-width: 195px !important;
                padding: 0;
                width: 95px !important;
                margin-top: 0 !important;
                left: 0 !important;
                z-index: 999999;
            }
            .navbar {
                margin-left: 95px;
            }
            .submenu{
                background-color: {{side_menu_settings.sub_menu_background_color}};
                color: {{side_menu_settings.submenu_text_color}};
            }
            ul.submenu li:hover {
                background-color: {{ side_menu_settings.sub_menu_background_hover_color }};
                padding-left: 30px;
            }
            ul.submenu li {
                padding-left: 30px;
            }
            .main-sidebar .sidebar-menu li>a:hover{
                color: {{side_menu_settings.sub_menu_text_hover_color}};
            }
            ul.submenu {
                padding-left: 0 !important;
            }

            </style>
            {% endif %}
            {% if side_menu_settings.set_width %}
              <ul class="sidebar-menu" style="min-width:150px !important; padding: 0; width: {{ side_menu_settings.set_width }}px !important; margin-top: 0 !important;"> 
            {% endif %}

                <li class="app-logo" style="width: 100% !important;">
                    <a onclick="gotodashboard" class="logo" style="max-width: 100% !important;">
                        {% if side_menu_settings.application_logo %}
                            <img src="{{side_menu_settings.application_logo}}" style="height: 43px; margin-right: 54%;">
                        {% else %}
                            <img src="" alt="no-logo" style="height: 43px;">
                        {% endif %}
                    </a>
                </li>
                {% for u in menulist %}
                    <li class="treeview drop-down">
                        <a class="menu" onclick="toggleSubMenu(this)" style="max-width: 100%;">
                            <span style="font-size: 15px; text-align: left !important;">
                                <i class="{% if u.menu_icon %}{{u.menu_icon}}{% else %}fa fa-bar-chart{% endif %} navbar-icon" style="padding: 5px;"></i>
                                {{ u.label }}
                                <!-- Add a line break to place the right-angle arrow on the next line -->
                                <i class="fa fa-angle-right" aria-hidden="true" style="float: right; font-size: 18px; margin-right: 5px;"></i>
                            </span>
                        </a>
                        <ul class="submenu" style="height: auto !important; margin-left: 0 !important; line-height: 40px;">
                            {% if user_info %}
                                <!-- <li class="user-info">
                                    <div class="uname">{{user_info.full_name}}</div>
                                    <div class="email">{{user_info.email}}</div>
                                </li> -->
                            {% endif %}
                            {% for k in u.submenu %}
                                <!-- <li class="treeview-head">
                                    <div>{{k.sub_menu_title}}</div>
                                </li> -->
                                {% for z in k.sub_menu_list %}
                                    {% if z.is_static_link == 0 %}
                                        <li>
                                            <a id="{{ z.route }}" onclick="go_to_page(this) ">
                                                <i class="{% if z.sub_menu_icon %}{{z.sub_menu_icon}}{% else %}fa fa-fw fa-bar-chart-o{% endif %}"></i>
                                                {{ z.sub_menu_label }}
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="/app/{{ z.static_link }}">
                                                <i class="{% if z.sub_menu_icon %}{{z.sub_menu_icon}}{% else %}fa fa-fw fa-bar-chart-o{% endif %}"></i>
                                                {{ z.sub_menu_label }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>

            <script>
    
        function toggleSubMenu(element) {
        const parentListItem = element.parentNode;
        const submenu = parentListItem.querySelector(".submenu");
        const isSubMenuOpen = submenu.style.maxHeight === "0px" || submenu.style.maxHeight === "";
    
        const allSubMenus = document.querySelectorAll(".treeview.drop-down .submenu");
        allSubMenus.forEach((sub) => {
            sub.style.maxHeight = "0";
            const menuIcon = sub.previousElementSibling.querySelector("i.fa-angle-down");
            if (menuIcon) {
                menuIcon.classList.replace("fa-angle-down", "fa-angle-right");
            }
        });
    
        if (isSubMenuOpen) {
            submenu.style.maxHeight = submenu.scrollHeight + "px";
            element.querySelector("i.fa-angle-right").classList.replace("fa-angle-right", "fa-angle-down");
            element.style.backgroundColor = "{{ side_menu_settings.side_bar_hover_color }}";
        } else {
            submenu.style.maxHeight = "0px";
            element.querySelector("i.fa-angle-down").classList.replace("fa-angle-down", "fa-angle-right");
            element.style.backgroundColor = "{{ side_menu_settings.side_bar_background_color }}";
        }
        
    }   


    

    
            </script>

            <style>

                /* .col.layout-main-section-wrapper,
                .col-md-4.col-sm-6.col-xs-8.page-title,
                .navbar .navbar-brand,
                .col-md-12.layout-main-section-wrapper{
                    margin-left: 295px;
                } */
                /* .col-md-12.layout-main-section-wrapper{
                    max-width: calc(100% - 95px);
                } */
              





                .sidebar-menu {
                    margin-bottom: 0px !important;
                    height: 100%;
                    position: fixed;    
                    /* min-width: 80px; */
                    width: 280px;
                    background: #f0f0f0;
                    overflow-y: auto;
                }
            
                .menu {
                    text-decoration: none;
                    display: block;
                    padding: 10px;
                    border-bottom: 1px solid #ccc;
                    color: #333;
                    transition: background-color 0.3s; /* Add a transition for smooth color change */
                }
            
                .menu:hover {
                    background: #ccc;
                }
            
                .treeview.drop-down .submenu {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.3s ease-in-out;
                }
            
                .treeview.active .submenu {
                    max-height: 1000px;
                }

                .app-logo .logo{
                    {% if side_menu_settings.logo_background_color %}
                        background:{{side_menu_settings.logo_background_color}};
                    {% endif %}
                    {% if side_menu_settings.logo_bottom_border_color %}
                        border-bottom:1px solid {{side_menu_settings.logo_bottom_border_color}};
                    {% endif %}
                }
                .main-sidebar .sidebar-menu{
                    {% if side_menu_settings.side_bar_background_color %}
                        background:{{side_menu_settings.side_bar_background_color}} !important;
                    {% endif %}
                }
                .main-sidebar .sidebar-menu>li:not(.app-logo):hover>a,.user-info{
                    {% if side_menu_settings.side_bar_hover_color %}
                        background-color:{{side_menu_settings.side_bar_hover_color}} !important;
                    {% endif %}
                }
                .main-sidebar .sidebar-menu>li>a{
                    {% if side_menu_settings.side_bar_text_color %}
                        color:{{side_menu_settings.side_bar_text_color}} !important;
                    {% endif %}
                }
                .main-sidebar .sidebar-menu>li:hover>a{
                    {% if side_menu_settings.side_bar_text_hover_color %}
                        color:{{side_menu_settings.side_bar_text_hover_color}} !important;
                    {% endif %}
                }
                
    
                .main-sidebar .treeview-menu{
                    {% if side_menu_settings.sub_menu_background_color %}
                        background:{{side_menu_settings.sub_menu_background_color}} !important;
                    {% endif %}
                }
                .main-sidebar .treeview-menu>li:hover>a{
                    {% if side_menu_settings.sub_menu_background_hover_color %}
                        background-color:{{side_menu_settings.sub_menu_background_hover_color}} !important;
                    {% endif %}
                }
                .main-sidebar .treeview-menu>li>a{
                    {% if side_menu_settings.sub_menu_text_color %}
                        color:{{side_menu_settings.sub_menu_text_color}} !important;
                    {% endif %}
                }
                .main-sidebar .treeview-menu>li:hover>a{
                    {% if side_menu_settings.sub_menu_text_hover_color %}
                        color:{{side_menu_settings.sub_menu_text_hover_color}} !important;
                    {% endif %}
                }
    
                .treeview-menu .user-info {
                        padding: 9.5px !important;
                    }
                    .app-logo a{
                         {% if side_menu_settings.logo_background_color %}
                        background-color: {{side_menu_settings.logo_background_color}};
                        {%else%}
                        background-color: #fff;
                        {%endif%}
                    }
                      .app-logo a:hover,.app-logo:hover a{
                          {% if side_menu_settings.logo_background_color %}
                        background-color: {{side_menu_settings.logo_background_color}};
                        {%else%}
                        background-color: #fff;
                        {%endif%}
                      }
                      .app-logo{
                        width: 96px;
                        {% if side_menu_settings.logo_background_color %}
                        background-color: {{side_menu_settings.logo_background_color}};
                        {%else%}
                        background-color: #fff;
                        {%endif%}
                        border-right: 1px solid #ddd;
                      }
            </style>
        </section>
        <!-- /.sidebar -->
    </aside>
    
    
    </div>
